
header {
    display: flex;
    justify-content: flex-end;
}

span img { /*iconos redireccionadores*/
    cursor: pointer;
    width: 40px;
    filter: invert(1);
    vertical-align: middle;
}

/*DIV COLUMN------------------------------------------------------------*/
.column-divs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*LINKS-----------------------------------------------------------------*/
.links-container{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


#añadir-acceso-directo{ /*botón +*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: black;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.537);
}

#añadir-acceso-directo:hover{
    background-color: rgba(53, 50, 50, 0.612);
    color: white;
    border: 1px solid white;
}

ul{
    display:flex;
    flex-wrap: wrap;
}

.enlaces { /*div dentro del modal*/
    border: 1px solid black;
    color: black;
    border-radius: 8px;
    max-width: 900px;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.537);
}

.enlaces input[type="text"] {
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el width */
    padding: 10px; /* Añade padding para hacer los inputs más grandes */
    font-size: 16px; 
}

.enlaces div { /*incluye los dos inputs y los botones del modal*/
    margin: 10px;
}

#btnContenedor {
    display: flex;
    justify-content: center;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 500px;
    width: 80%;
}

.hidden {
    display: none;
}

.listaEnlacesContainer{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100px;
    max-width: 80%;

}

.listaEnlacesContainer li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
    min-width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #ffffff93;
    font-weight: 700;
}

.deletebtn{
    position: absolute;
    padding: 0px;
    margin:0px;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 50%;
    font-size: 12px;
    background-color: #ffffff93;
    display: none;
}

.enlace:hover .deletebtn{
    display: block;
}


.listaEnlacesContainer li a{
    text-decoration: none;
    color: black;
    display: block;
}

#btnContenedor{
    display: flex;
    justify-content: space-around;
}

#close-modal{
    padding:0;
    margin:0; 
    width: 100px;
}


.icon{
    width: 30px;
}

.enlace{
    padding: 6px;
    display: flex;
    flex-direction: column;
}

#add-link-btn:disabled {
    background-color: #d6d6d6; 
    color: #a0a0a0;
    cursor: not-allowed; 
  }

/*TIME-------------------------------------------------------------------*/
.time-container{
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;   
}


.reloj {
    cursor: pointer;
    color: black;
    /* text-shadow: 1px 1px 2px white, -1px -1px 2px white; */
    border-radius: 8px;
    max-width: 900px;
    padding: 20px 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.537);
    text-align: center;

}

h1{
    font-weight: 700;
}

.reloj div {
    margin: 20px;
}


#time{
    font-weight: 700;
    font-size: 80px;
}

#date{
    font-weight: 700;
}


/*DIV ROW----------------------------------------------------------------*/
.row-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*WEATHER---------------------------------------------------------------*/
.weather-container{
    width: 50vw;
    height: 40vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.weather{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.715);
    border-radius: 8px;
    color: black;
    max-width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
}


.mainInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconandtemp{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.weather-icon{
    width: 100px;
}
.celsius{
    font-size: 40px;
}
#celsius{
    width: 40px;
}

.currentWeather h2{
    font-weight: 700;
    font-size: 35px;
}

.currentWeather p{
    color: brown;
    font-weight: 700;
}
.currentWeather ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.forecastWeather{
    flex-wrap:nowrap;
    max-width: 100%;
    height: 40%;
    display: flex;
    overflow: auto;
    gap: 20px;
    margin-bottom: 0px;
}

.forecast-grades{
    width: 40px;
    font-size: 13px;
}

.forecast-grades img{
    width: 100%;
}

.forecast-grades p{
    font-size: 13px;
}


/*PASSWORD GENERATOR-----------------------------------------------------*/
.password-container{
    width: 40vw;
    height: 41vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.passwordForm {
    color: black;
    border-radius: 8px;
    max-width: 900px;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.537);

}

.passwordForm div {
    margin: 10px;
    gap: 50px;
}

input[type="number"]{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

/*"Crea tu contraseña segura <span>candadito</span>"*/
.title h2 {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

span img {
    width: 30px;
    filter: invert(1);

}


/*"Contraseña generada <span>********</span>"*/
.passwordResult{
    font-weight: 700;
}

.passwordResult span{
    color: green;
}

.hidden{
    display: none;
}

/*"Contraseña copiada correctamente"*/
#confirmationMessage {
    font-size: 15px;
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    display: none;
}



/*Media queries*/
@media (max-width: 1200px) {
    .mainInfo{
            font-size: 10px;
            flex-direction: column;
    }
    
    .weather{
        margin: 0px 100px 0px 100px;
        max-width: 100%;
    }
        
    .weather-icon{
        width: 60px;
    }
    .celsius{
        font-size: 20px;
    }
    #celsius{
        width: 20px;
    }
    
    .currentWeather h2{
        font-weight: 700;
        font-size: 20px;
    }
    
    .currentWeather ul{
        font-size: 10px;
    }

    .row-divs{
        flex-direction: column;
        gap: 50px;
    }
        }
    
    